.taskCompleted{
    color: greenyellow;
    background-color: black;
    border: greenyellow solid 1px;
    border-radius: 5px;
    box-shadow: 2px 3px gray;
}
.facilCard{
    background-color: greenyellow;
}
.normalCard{
    background-color: orange;
}
.dificilCard{
    background-color: red;
}
.noActionCard{
    background-color: grey;
}