.taskCompleted{
    color: greenyellow;
    background-color: black;
    border: greenyellow solid 1px;
    border-radius: 5px;
    box-shadow: 2px 3px gray;
}
.easyCard{
    color: greenyellow;
    background-color: black;
    border: solid 1px greenyellow;
    border-radius: 5px;
}
.normalCard{
    color: orange;
    background-color: black;
    border: solid 1px orange;
    border-radius: 5px;
}
.hardCard{
    color: orangered;
    background-color: black;
    border: solid 1px orangered;
    border-radius: 5px;
}
