.hero{
    height: 25vh;
    background-image: url("/media/hero.jpg");
    background-size: cover;
    background-position: center;
}
.titulo{
    font-size: 3rem;
}
.sectionTittle{
    background-color: black;
    color: whitesmoke;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
}